.container {
  position: relative;
  margin:30px auto 0 auto;
  width: $content-width;
  border-top : 12px $white solid;
  border-bottom : 12px $white solid;
  border-left : 10px $white solid;
  border-right : 10px $white solid;
  background: $green-color-dark;
}
.container:after {
  content: ' ';
  position: absolute;
  top: -17px;
  left: -15px;
  right: -15px;
  bottom: -17px;
  background: #b2a98b;
  border : 1px $white solid;
  z-index: -1;
}

.main-footer {
  font-size: 70%;
  background: $background-color;
  color: $brown-color-dark;
  text-align: center;
  margin: 10px auto 30px auto;
}
.primary-sidebar {
  background: $green-color-dark;
  color: $grey-color-light;
  float: left;
  width: $sidebar-width;
  //height: 100vh;
  //top: 0;
  //left: 0;
  text-align: center;
  a,
  a:visited {
    color: $grey-color-light;
  }
  .site-lang {
    margin: 16px auto 24px;
    font-size: 70%;
    letter-spacing: 1px;
    a,
    a:visited {
      color: $brown-color-light;
      padding: 2px 4px;
      display: inline-block;
    }
    a:hover, a.active {
      background-color: $green-bg;
    }
  }
  .contacts {
    font-size: 80%;
  }
}
.content {
  margin-left: $sidebar-width;
  border-left: 2px $grey-color-light;
  border-right: 2px $grey-color-light;
}
.site-title {
  display: block;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
  padding: 20px 18px;
  &,
  &:visited {
    color: $brown-color-light !important;
  }
  &:hover {
    text-decoration: none;
  }
  small {
    font-size: 10px;
  }
  hr {
    width: 15px;
    margin: 10px auto;
    color: $grey-color-light;
  }
  .titleextend {
    font-size: 12px;
    text-transform: none;
    line-height: 0.8em;
    letter-spacing: 1px;
    color: $white !important;
  }
}
.site-nav {
  margin: 20px 0;
  border-bottom: 4px solid #215117;
  .trigger {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin:0 5px;
      padding: 4px 10px;
      border-bottom: 1px dotted $green-color;
    }
    li:nth-of-type(1) {
      border-top: 1px dotted $green-color;
    }
    li:last-of-type {
      border-bottom: none;
    }
  }
  .menu-icon {
    display: none;
  }
  .page-link {
    position: relative;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
    display: block;
    padding: 0 10px;
    text-align: left;
    color: $green-color-light !important;
    line-height: $base-line-height;
    border:0;
    font-size: 12px;
    // Gaps between nav items, but not on the last one
    &:hover, &.active {
      background-color: $green-color;
      text-decoration: none;
    }
    &::after {
      position: absolute;
      content: " ";
      background: url(../images/arrow.png) no-repeat top left;
      display: block;
      height: 5px;
      width: 4px;
      right: 4px;
      top: 7px;
    }
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      > svg {
        width: 18px;
        height: 15px;
        path {
          fill: $grey-color-dark;
        }
      }
    }
    .trigger {
      clear: both;
      display: none;
    }
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
      padding: 5px 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 132px;
  margin-bottom: 30px;
}

// .slider
//how many images we have
$slides: 5;

// how much we want each slide to show
$time_per_slide: 5;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;


.slider {
  height: 383px;
  background-color: $grey-color-dark;
  overflow:hidden;
  position:relative;
  .photo {
    position:absolute;
    height: 383px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation:round #{$total_animation_time}s infinite;
    opacity:0;
  }
}
@keyframes round{
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
}

@for $index from 1 to $slides + 1{
  .slider .photo:nth-child(#{$index}){
    animation-delay:#{$total_animation_time - $time_per_slide * $index}s
  }
}

.jumbotron {
  color:$white;
  background-color: $grey_color_dark;
  padding: 15px 30px;
  h1 {
    color:$white;
    border:none;
    margin:0;
    font-size: 140%;
  }
  h2 {
    color:$white;
    font-size: 100%;
    margin:0;
    font-weight: normal;
  }
  hr {
    border: none;
    color: #444;
    height: 1px;
    background-color: #444;
    margin: 15px -30px;
  }
  p {
    font-size: 90%;
  }
  .introduction {
    margin-top: 30px;
  }
}

.post {
  background: $white;
}
/**
 * Site footer
 */
// .site-footer {
//     border-top: 1px solid $grey-color-light;
//     padding: $spacing-unit 0;
// }
//
// .footer-heading {
//     font-size: 18px;
//     margin-bottom: $spacing-unit / 2;
// }
//
// .contact-list,
// .social-media-list {
//     list-style: none;
//     margin-left: 0;
// }
//
// .footer-col-wrapper {
//     font-size: 15px;
//     color: $grey-color;
//     margin-left: -$spacing-unit / 2;
//     @extend %clearfix;
// }
//
// .footer-col {
//     float: left;
//     margin-bottom: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
// }
//
// .footer-col-1 {
//     width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//     width:         calc(35% - (#{$spacing-unit} / 2));
// }
//
// .footer-col-2 {
//     width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//     width:         calc(20% - (#{$spacing-unit} / 2));
// }
//
// .footer-col-3 {
//     width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }
//
// @include media-query($on-laptop) {
//     .footer-col-1,
//     .footer-col-2 {
//         width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//         width:         calc(50% - (#{$spacing-unit} / 2));
//     }
//
//     .footer-col-3 {
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }
//
// @include media-query($on-palm) {
//     .footer-col {
//         float: none;
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }
/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}
.post-link {
  display: block;
  font-size: 24px;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}
// .post-title {
//     font-size: 42px;
//     letter-spacing: -1px;
//     line-height: 1;
//
//     @include media-query($on-laptop) {
//         font-size: 36px;
//     }
// }
.post-content {
  margin-bottom: $spacing-unit;
  // h2 {
  //     font-size: 32px;
  //
  //     @include media-query($on-laptop) {
  //         font-size: 28px;
  //     }
  // }
  //
  // h3 {
  //     font-size: 26px;
  //
  //     @include media-query($on-laptop) {
  //         font-size: 22px;
  //     }
  // }
  //
  // h4 {
  //     font-size: 20px;
  //
  //     @include media-query($on-laptop) {
  //         font-size: 18px;
  //     }
  // }
}
