---
layout: default
---
<div class="home">
  <div class="slider">
    <div class="photo" style="background-image:url(https://tbplaw.com/images/001.jpg)"></div>
    <div class="photo" style="background-image:url(https://tbplaw.com/images/002.jpg)"></div>
    <div class="photo" style="background-image:url(https://tbplaw.com/images/003.jpg)"></div>
    <div class="photo" style="background-image:url(https://tbplaw.com/images/004.jpg)"></div>
    <div class="photo" style="background-image:url(https://tbplaw.com/images/005.jpg)"></div>
  </div>
  <div class="jumbotron">
    {{ content }}
  </div>
</div>
